.heading{
    font-size:23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px lightgrey;
}
.note{
    font-size: 15px;
    color:black;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightblue;
}
.copy_wright_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:aqua;
    line-height: 3;
    text-align: center;
}
marquee{
    background-color:black;
    color: white;
    font-size: 20px;
}